body {
  margin: 0;
}

.zdog-canvas {
  display: block;
  width: 100%;
  height: 100%;
  background: #FDB;
  cursor: move;
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#fa7075;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-left: -2px;
	margin-top:17px;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 4s linear infinite;
}

.paused {
  -webkit-animation-play-state: paused;
}